<header> <div class = "one"><%= @naaam %> ,you scored <%= @scoree %> in your <%= @j %> attempt!!!</div> </header>
<div id="main">
      <ul>
        <h4>The answers that are right are:</h4>
          <% @corr.each do |t| %>
          <li><%= t%>
          <% end %><br><br><br>

         <h4>The answers that are wrong are:</h4>
        <% @wro.each do |t| %>
        <li><%= t%>
        <% end %>
      </ul>
 
</div>
<footer>
  <div id="button">
    <%=link_to articles_begin_path do%> 
      <%=image_tag('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRPWutSStpnEVNrl1dUpWfS3kqDKJ2YbdCXHrqCu9WC5RtphlmR',width:'100',height:'30')%>
      <%end%>
  </div>
</footer>
