<p>
  <strong>id:</strong>
  <%= @sap.id %>
</p>
<p>
  <strong>Catalog_id:</strong>
  <%= @sap.Catalog_id %>
</p>
<p>
  <strong>Sap_Product:</strong>
  <%= @sap.sapproduct %>
</p>
<p>
  <strong>Platform:</strong>
  <%= @sap.platform %>
</p>
<p>
  <strong>saps:</strong>
  <%= @sap.saps %>
</p>
<p>
  <strong>mem:</strong>
  <%= @sap.mem %>
</p>
<p>
  <strong>iops:</strong>
  <%= @sap.iops %>
</p>
<p>
  <strong>disksize:</strong>
  <%= @sap.disksize %>
</p>
