<%= form_tag mortgages_index_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => "button postfix" %>
<% end %>

<% if @products.empty? %> 
    <p>No products added to database</p>
<% else %>
    <ul>
      <% @products.each do |product| %>
          <li>
         Version:   <%= product.folio %><br> 
        
          </li>
          <hr>
      <% end %>
    </ul>
<% end %>
<% for row in @query.facet(:schemecat).rows %>
    hey
<% end %>



<%= link_to 'New', mortgages_new_path %>
