<p>
  <strong>Folio no:</strong>
  <%= @article.folio %>
</p>
<p>
  <strong>Scheme Category:</strong>
  <%= @article.schemecat %>
</p>
<p>
  <strong>Scheme:</strong>
  <%= @article.scheme %>
</p>
<p>
  <strong>Dividend option:</strong>
  <%= @article.distopt %>
</p>
<p>
  <strong>ARN code:</strong>
  <%= @article.arncode %>
</p>
<p>
  <strong>Investment amount:</strong>
  <%= @article.invamount %>
</p>
<p>
  <strong>Payment option:</strong>
  <%= @article.payoption %>
</p>
<p>
  <strong>Payment bank:</strong>
  <%= @article.paybank %>
</p>
<%= link_to 'Show all', mortgages_index_path %>
 
