<html>
  <head>
  </head>
<body>
  <table>
    <%= form_for :eventt, url: versions_create_path do |f| %>
                     <tr>
                         <td>version:</td>
                       <td> <%= f.text_field :version %></td>
                     </tr>
                     <tr>
                         <td>Event:</td>
                       <td><%= f.text_field :event %></td>
                     </tr>
                     <tr>
                         <td>change:</td>
                         <td> <%= f.text_field :chang %></td>
                     </tr>
                     <tr>
                       <td>
                         <%= f.submit value = "Submit" %>
                       </td>
                       <td>
                         <%= link_to 'List', versions_res_path %>
                       </td>
                    </tr>
                     <%end %>
    
  </table>  
  </body>
</html>